@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body {
  background-color: #6aaf6a;
  font-family: 'Roboto Slab', serif;
  text-align: center;
 }
 
#heading {
  font-size: 1.5em;
 }
 
#hotbar {
  font-size: 1.3em;
  background-color: #dcddd3;
  padding: .25cm;
 }
 
#column1 {
  background-color: #204073;
 }
 
#column2 {
  background-color: #BDBDBD;
}

#newstitle {
  font-size: 2.5em;
}

#column3 {
  font-size: 4em;
}

#link {
  font-size: 1.5em;
  background-color: #f9b514
}

#main1 {
  font-size: 1.1em;
  background-color: #F0ECE0
}

